<div class="row">

    <div class="col-md-8 col-md-offset-2 card" *ngFor="let data of record">
        <h3>Add new</h3>
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
        <form #entry="ngForm" (ngSubmit)="onSubmit(entry.value)">

            <div class="form-group col-md-6">
                <label>Author</label>
                <input type="text" name="author" class="form-control highlight" [(ngModel)]="data.author" ngModel
                    #name="ngModel" required>
            </div>
            <div class="form-group col-md-6">
                <label>Version</label>
                <input type="text" class="form-control highlight" name="version" [(ngModel)]="data.version" required
                    ngModel #version="ngModel">
            </div>

            <div class="form-group col-md-8 col-md-offset-2"><label>Todo list</label></div>
            <div class="form-group col-md-4" *ngFor="let list of todo; let i = index;">

                <input type="text" class="form-control highlight" [name]="'todolist' + i" [(ngModel)]="list.object"
                    required ngModel #todolist="ngModel">

            </div>

            <div class="form-group col-md-12" style="padding-top: 25px;">

                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>

</div>