<div class="container-fluid">
    <div class="row">

        <!-- new -->
        <div class="col-md-10 col-md-offset-1">

            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Enter your search here" aria-label="Number" matInput
                        [formControl]="myControl" class="form-control" [matAutocomplete]="auto" [(ngModel)]="txtValue"
                        (ngModelChange)="onTextChange($event)">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedOption($event)">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{ option }}
                        </mat-option>

                    </mat-autocomplete>

                </mat-form-field>
            </form>

            <div *ngFor="let data of finaldata" class="panel panel-success col-md-8 col-md-offset-2">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{data.id}} {{data.title}}
                    </h3>
                </div>
                <div class="panel-body">
                    <a target="_blank">
                        <img [src]="data.thumbnailUrl" width="300" height="200">
                    </a>
                </div>
                <div class="panel-footer"></div>
            </div>

        </div>

        <div class="col-md-8 col-md-offset-2 text-center" *ngIf="status">

            <div class="panel panel-primary col-md-4" *ngFor='let data of webdata'>
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{data.id}} {{data.title}}
                    </h3>
                </div>
                <div class="panel-body">
                    <a target="_blank">
                        <img [src]="data.thumbnailUrl" width="270" height="200">
                    </a>
                </div>
                <div class="panel-footer"></div>
            </div>

        </div>

    </div>
</div>