<div class="container-fluid" style="background: linear-gradient(to left,#8fbbdf, #c5dfaa);">


    <div (scroll)="onWindowScroll($event);" class="container">

        <div class="row section1">
            <div class="col-md-6">
                <h1 class="lead" style="text-align: left;">
                    Delight your customers and win them for life
                </h1>
                <p class="sec-p">Looking for an Omnichannel, AI-driven or Self Service solution for customer service?
                    We've got you
                    covered!</p>

                <p><a class="btn btn-success btn-lg sec-btn">Get started for free</a></p>

            </div>

            <div class="col-md-6">
                <img src="https://i.gifer.com/77FX.gif" alt="" width="400" height="400">
            </div>
        </div>

        <div class="row section2">
            <h1 class="lead">
                Over 220,000 businesses trust us
            </h1>
            <div class="col-md-2">
                <img src="https://icons.veryicon.com/png/Hardware/Tools%20Hardware%20Pack%203/Gigabyte%20Grafikcard%20Tray.png"
                    alt="" width="100px" height="100px">
            </div>
            <div class="col-md-2">
                <img src="https://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Visa-icon.png" alt=""
                    width="100px" height="100px">
            </div>
            <div class="col-md-2">
                <img src="https://pluspng.com/img-png/twitter-logo-png-twitter-logo-png-256.png" alt="" width="100px"
                    height="100px">
            </div>
            <div class="col-md-2">
                <img src="https://pluspng.com/img-png/apple-ios-logo-png-apple-ios-image-4085-256.png" alt=""
                    width="100px" height="100px">
            </div>
            <!-- icons row 2 -->
            <div class="col-md-2">
                <img src="https://cdn.iconscout.com/icon/free/png-256/samsung-226432.png" alt="" width="100px"
                    height="100px">
            </div>
            <div class="col-md-2">
                <img src="https://cdn.iconscout.com/icon/free/png-256/paytm-226448.png" alt="" width="100px"
                    height="100px">
            </div>

        </div>

        <div class="row section3">
            <h1 class="lead">So, what brings you here today?</h1>
            <div class="col-md-3 col-md-offset-1 zoom">
                <img mat-card-lg-image style="width: 385px; height: 300px;"
                    src="https://www.pngarts.com/files/4/HP-Laptop-Download-PNG-Image.png">
                <h2>I'm using email for support</h2>
                <p>and it's getting chaotic</p>
                <a href="#" class="btn btn-success btn-lg sec-btn">Start Ticketing</a>
            </div>
            <div class="col-md-2">
                <div class="vl"></div>
            </div>
            <div class="col-md-3 col-md-offset-1 zoom">
                <img mat-card-lg-image style="width: 385px; height: 300px;"
                    src="https://firststep.ng/wp-content/uploads/2018/10/g14.png">
                <h2>I'm using another helpdesk</h2>
                <p>and it's overwhelming</p>
                <a href="#" class="btn btn-success btn-lg sec-btn">Make the Switch</a>
            </div>

        </div>

        <div class="row section4">
            <h2 class="lead">Support without the hassle</h2>
            <p class="sec-p-heading text-center">Servicedesk is built to make customer engagement accessible to
                businesses
                of all
                sizes, so
                you can deliver an effortless
                customer experience at scale without the cost and complexity of legacy software.</p>
            <div class="col-md-4 text-center">
                <img mat-card-lg-image style="width: 200px; height: 200px;"
                    src="https://i1.wp.com/www.ratoonapps.com/wp-content/uploads/2019/04/features-image.png?resize=512%2C512&ssl=1">
                <h3 class="text-center"><b>Support everywhere</b></h3>
                <p class="sec-p text-center">Engage customers across every touchpoint with a 360-degree view of the
                    customer—across
                    e-mail, phone, chat, social
                    media, and more.</p>
            </div>
            <div class="col-md-4 text-center">
                <img mat-card-lg-image style="width: 200px; height: 200px;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6LEwvD8YxTC9pqetL8q8QboUA2YTOcfgoMQ&usqp=CAU">
                <h3 class="text-center"><b>Do more. Faster.</b></h3>
                <p class="sec-p text-center">Automate and streamline complex workflows and answer customer queries with
                    no-code bots
                    for faster resolutions and
                    happier customers!</p>
            </div>
            <div class="col-md-4 text-center">
                <img mat-card-lg-image style="width: 200px; height: 200px;"
                    src="https://pngimage.net/wp-content/uploads/2018/06/mobile-development-png-6.png">
                <h3 class="text-center"><b>Scale flexibly</b></h3>
                <p class="sec-p text-center">Customize your Servicedesk with more than 640 apps and an extensive network
                    of partners.
                    Get world-class onboarding with
                    24x7 support.</p>
            </div>
        </div>

        <div class="row section5">
            <div class="col-md-7">
                <img mat-card-lg-image style="width: 550px; height: 450px;"
                    src="https://www.softwaresuggest.com/blog/wp-content/uploads/2020/02/The-7-Stages-of-Enterprise-Application-Software-Development.png">
            </div>
            <div class="col-md-5">
                <h1 class="lead">Make it easy for customers to reach you</h1>
                <p class="sec-p">From new channels such as WhatsApp and Apple Business Chat to the traditional, like
                    e-mail
                    and phone, Servicedesk covers
                    it all.
                </p>
                <p class="sec-p-heading"><a class="text-success" href="">Explore omnichannel customer service <i
                            class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
            </div>
        </div>

        <div class="row section6">

            <div class="col-md-5">
                <h1 class="lead">Engage customers with bots from Freddy AI</h1>
                <p class="sec-p">Most bot solutions require coding and are cumbersome to maintain. Powered by Freddy AI,
                    our easy-to-deploy bots track
                    intent and engage with customers to resolve issues faster.
                </p>
                <p class="sec-p-heading"><a class="text-success" href="">Explore Freddy AI <i class="fa fa-arrow-right"
                            aria-hidden="true"></i></a></p>
            </div>
            <div class="col-md-7">
                <img mat-card-lg-image style="width: 630px; height: 450px;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTREAcz359_ARf_7relULffPfWgDAjfHsXmd0meNMbVVdfRUQuu&usqp=CAU">
            </div>
        </div>

        <div class="row section7">

            <h1 class="lead">Here's why our customers choose us</h1>
            <div class="col-md-6 col-md-offset-3">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <i class="fa fa-quote-left pull-left" aria-hidden="true"></i>
                            <i class="fa fa-quote-right pull-right" aria-hidden="true"></i>
                            <span class="center text-center"><img
                                    src="https://upload.wikimedia.org/wikipedia/commons/b/b0/CNA938_logo.png" alt=""
                                    width="50px" height="50px"></span>


                            <p class="sec-p text-center" style="margin-right: -90px;">“Agents are now able to measure
                                themselves and see how well
                                they are doing, that gives them a boost. Now that we have
                                statistics and can see agent performance scores, that encourages our teams to provide
                                even better customer service. My
                                agents are happier now.”</p>
                            <p class="sec-p-heading">Vaughan Potter</p>
                            <p class="text-center text-muted">Head of Customer Services
                                Hamleys</p>
                        </div>

                        <div class="item">
                            <i class="fa fa-quote-left pull-left" aria-hidden="true"></i>
                            <i class="fa fa-quote-right pull-right" aria-hidden="true"></i>
                            <span class="center text-center"><img
                                    src="https://res-1.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/llejr6xy9dqii0s12erg"
                                    alt="" width="50px" height="50px"></span>


                            <p class="sec-p text-center" style="margin-right: -90px;">“Servicedesk integrated seamlessly
                                with our internal CRM using its out-of-the-box capabilities such as chat, email, phone,
                                and social media channels. The reports has given our agents a chance to monitor their
                                daily or weekly performance.”</p>
                            <p class="sec-p-heading">Vijoy Nair</p>
                            <p class="text-center text-muted">User Happiness Lead
                                Decathlon</p>
                        </div>

                        <div class="item">
                            <i class="fa fa-quote-left pull-left" aria-hidden="true"></i>
                            <i class="fa fa-quote-right pull-right" aria-hidden="true"></i>
                            <span class="center text-center"><img
                                    src="https://www.filemail.com/layouts/blue2019/img/logo/logo-256.png" alt=""
                                    width="50px" height="50px"></span>


                            <p class="sec-p text-center" style="margin-right: -90px;">“We were looking for a solution
                                that solves for the right customer experience at scale. With Servicedesk's intuitive
                                Helpdesk system and the AI-powered Freddy bot platform, with Servicedesk's agility and
                                Freddy's ability to deliver context
                                across functions, PhonePe had found a winner.”</p>
                            <p class="sec-p-heading">Vishal Gupta</p>
                            <p class="text-center text-muted">Head of product
                                PhonePe</p>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="margin-left: -70px;">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next" style="margin-right: -70px;">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>

        </div>

        <div class="row footer">
            <div class="col-md-2">
                <h4 class="capitalize">Serviceworks</h4>
                <ul>
                    <li class="text-muted">Serviceworks</li>
                    <li class="text-muted">Servicedesk</li>
                    <li class="text-muted">Serviceservice</li>
                    <li class="text-muted">Servicesales</li>
                    <li class="text-muted">Servicecaller</li>
                    <li class="text-muted">Servicechat</li>
                    <li class="text-muted">Serviceteam</li>
                    <li class="text-muted">Servicemarketer</li>
                    <li class="text-muted">Serviceconnect</li>
                    <li class="text-muted">Serviceping</li>
                    <li class="text-muted">Servicerelease</li>
                    <li class="text-muted">Servicestatus</li>
                    <li class="text-muted">Servicesuccess</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4 class="capitalize">Company</h4>
                <p class="text-muted">About</p>
                <p class="text-muted">Leadership</p>
                <p class="text-muted">Board of Directors</p>
                <p class="text-muted">Investors</p>
                <p class="text-muted">Affiliates</p>
                <p class="text-muted">Partners</p>
                <p class="text-muted">Careers</p>
                <p class="text-muted">Newsroom</p>
                <p class="text-muted">Partners</p>
            </div>
            <div class="col-md-2">
                <div class="vf"></div>
            </div>
            <div class="col-md-2">
                <h4 class="capitalize">Servicedesk</h4>
                <p class="text-muted">Features</p>
                <p class="text-muted">Pricing</p>
                <p class="text-muted">Apps</p>
                <p class="text-muted">Customers</p>
                <p class="text-muted">Training</p>
                <p class="text-muted">API & Developers</p>
                <p class="text-muted">Resources</p>
                <p class="text-muted">Blog</p>
                <p class="text-muted">Free helpdesk software</p>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <h4 class="capitalize text-muted">Existing Users</h4>
                <a href="" class="btn btn-default btn-lg">Login</a>
                <h4 class="capitalize text-muted">Mobile Apps</h4>
                <img src="https://cdn.iconscout.com/icon/free/png-256/google-169-189833.png" alt="" width="70px"
                    height="70px">
                <img src="https://logosvector.net/wp-content/uploads/2015/09/download-on-the-app-store-badge.png" alt=""
                    width="70px" height="70px">
                <h4 class="capitalize text-muted">Connect with us</h4>
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            </div>
        </div>

    </div>

</div>