<div class="container">
    <div class="row">
        <mat-toolbar color="warn">Gotham Municipal Corporation &nbsp;&nbsp;&nbsp;<i class="far fa-hospital"
                style="color: yellowgreen; width: 100px;"></i>&nbsp;&nbsp;&nbsp; covid-19 hospitals
        </mat-toolbar>
        <div class="col-md-3">
            <mat-card>
                <mat-card-title>Batman Hospital</mat-card-title>
                <img mat-card-lg-image style="width: 230px; height: 200px;"
                    src="https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/article_images/2020/03/26/PTI25-03-2020_000136B-min-1585229704.jpg?itok=vJMaG890">
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <mat-card-title>Robin Hospital</mat-card-title>
                <img mat-card-lg-image style="width: 230px; height: 200px;"
                    src="https://img.etimg.com/thumb/width-640,height-480,imgsize-235749,resizemode-1,msid-75466815/maharashtra-issues-directives-to-hospitals-as-covid-19-cases-mount.jpg">
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <mat-card-title>Catwoman Hospital</mat-card-title>
                <img mat-card-lg-image style="width: 230px; height: 200px;"
                    src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/03/26/11/NHS.jpg?w968h681">
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <mat-card-title>Superman Hospital</mat-card-title>
                <img mat-card-lg-image style="width: 230px; height: 200px;"
                    src="https://staticblog.virtualvocations.com/2020/04/iStock-1208116440-1030x687.jpg">
            </mat-card>
        </div>

        <div class="col-md-8 col-md-offset-2" style="padding: 17px; margin-left: 26%;">
            <img mat-card-lg-image style="width: 530px; height: 300px;" class="
            zoom"
                src="https://img.freepik.com/free-vector/coronavirus-prevention-tips-concept_23-2148500672.jpg?size=626&ext=jpg">
        </div>
    </div>
</div>