<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">

            <div class="panel panel-primary">
                <div class="panel-footer">

                </div>
                <div class="panel-body">

                    <a target="_blank">
                        <img [src]="avatar" width="250" height="200">
                    </a>
                </div>
                <div class="panel-heading panel-title">
                    <p>First name : {{first_name}}</p>
                    <p>Last name : {{last_name}}</p>
                    <p>Email : {{email}}</p>
                </div>
            </div>

        </div>
    </div>
</div>